# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output (Vite uses dist by default)
dist/
dist-ssr/

# Environment variables
# .env*

# Editor/OS files
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Git & Docker specific (mainly for .dockerignore)
.git
.gitignore
.dockerignore
Dockerfile
*.md