.timerDisplay {
    font-size: 1.1rem;
    font-weight: 850;
    font-family: 'Inter', monospace;
    line-height: 1;
}

.timerOnTime {
    color: #ff825d;
}

.timerExceeding {
    color: #762520;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.timerWaitingEta {
    color: #673ab7;
}

.timerNearExceeded {
    color: #FF9800;
}
